.idea
*.iml
.gradle
*.jar

build

gradle
gradlew
gradlew.bat

intelij-plugin/compatibility-check.sh

/rfc-parser/src/main/gen/
/.tmp/
/caches/
/daemon/
/jdks/
/native/
/wrapper/
/rfc-parser/src/test/gen/
.intellijPlatform/
