# GitHub Actions Workflow created for handling the release process based on the draft release prepared
# with the Build workflow. Running the publishPlugin task requires the PUBLISH_TOKEN secret provided.

name: Release
on:
  release:
    types: [ prereleased, released ]

jobs:

  # Prepare and publish the plugin to the Marketplace repository
  release:
    name: Publish Plugin
    runs-on: ubuntu-latest
    steps:

      # Setup Java 11 environment for the next steps
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.RELEASE_ACTION_TOKEN }}
          ref: ${{ github.head_ref }}

      # Create release version
      - name: Create release version
        run: gradle createReleaseVersion

      # Publish the plugin to the Marketplace
      - name: Publish Plugin
        env:
          PUBLISH_TOKEN: ${{ secrets.JETBRAINS_PUBLISH_TOKEN }}
        run: gradle publishPlugin

      # Create next snapshot version
      - name: Create next snapshot version
        run: gradle createNextSnapshotVersion

      # Push new version into repository
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Increment version after release
